{% extends 'rating_movies/base.html' %}

{% block title %} Add rating star {% endblock title %}

{% block content %}
<div class="add_form">
    <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 50px;">
                        <span class="sub-tittle editContent"
                              style="outline: none; cursor: inherit;"></span>Добавить звезду рейтинга</h3>
    <form action="{% url 'add_rating_star' %}" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" style="margin-bottom: 25px;">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="d-sm-flex">
            <div class="col-sm-6 form-group p-0 editContent">
                <label for="{{ form.value.id_for_label }}" class="editContent">{{ form.value.label }} * </label>
                {{ form.value }}

                {% if form.value.errors %}
                    <div class="alert alert-danger mt-3">{{ form.value.errors }}</div>
                {% endif %}
            </div>
        </div>

        <button type="submit" class="mt-4 btn btn-success py-3" style="margin-bottom:50px; width: 300px;">
            Добавить
        </button>
    </form>
</div>
{% endblock content %}
