{% extends 'base.html' %}

{% block title %} Generated password {% endblock title %}

{% block content %}
    <div class="back_link_block">
        <a href="{{ back_link }}" class="btn btn-link">&larr; Back</a>
    </div>

    <div class="generated_password_block">
        <div class="random_password_title">
            Generated password:
            <p style="color: black;">{{ password }}</p>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    window.scrollTo(0, 800);
</script>
{% endblock script %}
