{% extends 'base.html' %}
{% load static %}

{% block title %} Random password {% endblock title %}

{% block content %}
    <div class="back_link_block">
            <a href="{{ back_link }}" class="btn btn-link">&larr; Back</a>
    </div>

    <div class="random_password_block" id="random_password">
        <div class="random_password_title">
            Password generator
        </div>
        <div class="random_password_form">
            <form action="{% url 'random_password' %}" method="post" name="generate_password">
                {% csrf_token %}

                <div class="random_password_length">
                    <input type="number" name="password_length" value="{{ default_length }}" min="{{ min_length }}" max="{{ max_length }}">
                    <span>Password length</span>
                </div>
                <div class="random_password_checkbox">
                    <input type="checkbox" name="uppercase"> <span>Uppercase</span>
                </div>
                <div class="random_password_checkbox">
                    <input type="checkbox" name="numbers"> <span>Numbers</span>
                </div>
                <div class="random_password_checkbox">
                    <input type="checkbox" name="special characters"> <span>Special characters</span>
                </div>

                <button type="submit" class="btn btn-dark random_password_button">Generate password</button>
            </form>
        </div>
    </div>

    <div id="generated_password_block"></div>
{% endblock content %}
